<%- include("header", {title: title}); %>

<h1>Welcome to the about page</h1>

<h2>Zackarias Sjöström</h2>
<p><img src="/img/me.png" width="400" alt="bild på mig" class ="bild_på_mig"></p>
<p>Hello im the only person who worked on this website</p>


<%- include("footer"); %>