<%- include("header", {title: title}); %>

<h1>category</h1>

<p> <a href="product">Koffie</a></p>
<p><a href="product">Koffie mugs</a></p>
<p><a href="product">Misc</a></p>

<%- include("footer"); %>