<!doctype html>


<header>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="/favicon.ico">

    <nav class="navigation">
        <a href="/eshop/index">Index</a>  |
        <a href="/eshop/about">About</a>  |
        <a href="/eshop/category">Category</a>  |
        <a href="/eshop/create">Create</a>  |
        <a href="/eshop/product">Product</a>  |
        <a href="/eshop/customer">Customer</a>

    </nav>
</header>
