<%- include("header", {title: title}); %>

<p><img src="/img/home2.jpg" width="500" alt="home_Picture" class ="home_Picture"></p>

<p>
    The origins of coffee are steeped in myths and legends. According to legend, Kaldi an 
    Ethiopian goat herder noticed his goats became rather energised and somewhat troublesome after eating red 
    berries growing on what would come to be known as a coffee tree.
</p>
<p><a href="product">Buy coffee online here.</a></p>



<%- include("footer"); %>